/data/trading_tool.db
/data/stock_data_cache
/data/__pycache__
/.idea
/strategy/__pycache__/factory.cpython-311.pyc
/strategy/__pycache__/strategy_mapping.cpython-311.pyc
/strategy/__pycache__/Strategy.cpython-311.pyc
/data/*.pkl