# Default ignored files
/shelf/
/workspace.xml

# Ignore the test CSV file
stock_data_frame_test.csv

# Ignore the config file containing sensitive information
config/config.py

#Ignore cached stock data
data/stock_data_cache/

# Ignore the database file
data/trading_tool.db